.Configurations{
    .inlineBtn{
        display: inline-block;
        padding-right: 5px;
        padding-bottom: 5px; 
    }

    .quillEdit{
        height: 423px; 
    }

    .headerLabel{
        margin-top: 5px;
        margin-bottom: 5px;
    }
}
